.primary-square {
  width: 140px;
  background-color: #2b4e87;
  height: 85px;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 10px;

  .availability {
    width: 5px;
    //background-color:
    height: 60px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    align-self: center;
  }

  .defaultSku {
    font-size: 2rem;
    align-self: center;
    text-align: center;
    padding-left: 20px;
    align-content: center;
  }

  .sku {
    font-size: 1rem;
    padding-right: 8px;
    padding-top: 8px;
  }
}
