.zone {
  padding: 5px;
  color: white;
  .zoneTitle {
    padding: 5px;
    font-size: 1.6rem;
    margin-left : 20px;
  }
  .zoneListing {
    display: flex;
    flex-wrap: wrap;
    span{
      padding-bottom:4px;
      span {
        display: flex;
        span {
        }
      }
    }
  }
}


